#second-hand {
  animation: sweep 60s linear infinite;
  animation-play-state: paused;
}

:host([state="running"]) #second-hand {
  animation-play-state: running;
}

.dial-number>text {
  fill: var(--foreground, #DDD);
  stroke: none;
  font-size: 5px;
  text-anchor: middle;
  opacity: 0.6;
  translate: 0 0.35em;
}

.sub-dial-face {
  stroke: var(--foreground, #DDD);
  fill: none;
  stroke-width: 0.3px;
}

.tick-ring.sub-dial {
  --gap: 5.7832;
  stroke-dashoffset: calc(-1 * var(--gap) / 2);
  stroke-width: 2px;
  stroke-dasharray: 0.5 var(--gap);
  opacity: 0.7;
}

.sub-dial-number>text {
  font-size: 2.8px;
  translate: 0 0.35em;
}

.sub-dial-hand {
  stroke: red;
  stroke-width: 1px;
  transform-origin: 50px 25px;
  animation: sweep 1800s linear infinite;
  animation-play-state: paused;
}

:host([state="running"]) .sub-dial-hand {
  animation-play-state: running;
}
